<mat-toolbar color="primary">
  <span>Crud Angular V-13</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" mat-button
    routerLink="/datahub/home">
    Home
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    routerLink="/datahub/create" routerLinkActive="mat-warn">
    Create
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" mat-button
    routerLink="/datahub/about">
    About
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" mat-button
    routerLink="/datahub/contact">
    Contact
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" mat-button
    routerLink="/datahub/resume">
    Resume
  </button>
</mat-toolbar>
<router-outlet></router-outlet>