<div class="container">
  <div class="row mt-2 mb-2">
    <div class="row">
      <div class="col">
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Street</th>
              <th>Suite</th>
              <th>City</th>
              <th>Zipcode</th>
              <th>Latitude</th>
              <th>Website</th>
              <th>Company Name</th>
              <th>Catch Phrase</th>
              <th>Bs</th>
              <th>Action</th>


            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of allData | paginate: {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            };
           let i = index">
              <th scope="row">{{data.id}}</th>
              <td>{{data.name}}</td>
              <td>{{data.mobile}}</td>

              <td>{{ data.address.street }}</td>
              <td>{{ data.address.city }}</td>
              <td>{{ data.address.Zipcode }}</td>
              <td>{{ data.address.geo.lat }}</td>
              <td>{{ data.address.geo.lng }}</td>
              <td>{{ data.website }}</td>
              <td>{{ data.company.cname }}</td>
              <td>{{ data.company.catchPhrase }}</td>
              <td>{{ data.company.bs }}</td>
              <td>
                <div class="col">
                  <a [routerLink]="['/datahub/edit/', data.id]" class="btn btn-primary">Edit</a>
                  <br>
                             <button class="btn btn-primary" (click)="onDelete(data.id)" >Delete</button>
                </div> 
               
                
              </td>
              
            </tr>

          </tbody>

        </table>
        <div class="pagination">
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
          <!-- 
        <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
        </div>
      </div>

    </div>
    <div>

    </div>

  </div>